@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: normal;
  background-color: #e9e9e5;
}

.gradient-text-color {
  background: rgb(250, 87, 5);
  background: linear-gradient(
    90deg,
    rgba(250, 87, 5, 1) 0%,
    rgb(255, 0, 93) 15%,
    rgba(221, 119, 55, 1) 35%,
    rgba(233, 8, 92, 1) 77%
  );
  background-size: 100%;
  background-repeat: repeat;
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.gradient-background-color {
  background: rgb(250, 87, 5);
  background: linear-gradient(
    90deg,
    rgba(250, 87, 5, 1) 0%,
    rgba(221, 119, 55, 1) 35%,
    rgba(226, 73, 70, 1) 74%,
    rgba(233, 8, 92, 1) 100%
  );
}

.tagline {
  @apply text-black font-expletus;
}

/* .foto {
  height: 30rem;
  width: 27rem;
} */

@media screen and (max-width: 1279px) {
  .photo-big {
    display: none;
  }
}

@media screen and (min-width: 1279px) {
  .photo-small {
    display: none;
  }
}

@keyframes spin1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .icon1-spin {
    animation: spin1 infinite 5s linear;
  }
  .icon2-spin {
    animation: spin2 infinite 5s linear;
  }
}

/* Navbar Content */
@layer components {
  .download-cv {
    @apply border-2 border-gray-700 hover:border-orange-500 text-gray-700 hover:text-orange-500 hover:bg-white text-sm font-semibold transition-all rounded-lg py-0 px-2 mr-2;
  }

  .navbar-contact {
    @apply p-2 text-gray-700 hover:text-orange-500 transition-all;
  }
}
